html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  font-family: Lato;
}

#welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#welcome #ph {
  background-color: black;
  height: 35vh;
}
#welcome #greeting {
  display: flex;
}
#welcome #greeting span {
  width: 300px;
  flex-grow: 1;
  background-color: black;
  font-size: 50px;
}
#welcome #greeting #letter {
  display: flex;
  flex-direction: column;
}
#welcome #greeting #letter div {
  background-color: black;
  flex-grow: 1;
}
#welcome #greeting #letter img {
  width: 51px;
}
#welcome #greeting #left {
  text-align: right;
  padding-right: 10px;
}
#welcome #greeting #right {
  text-align: left;
}
#welcome #intro {
  background-color: black;
  flex-grow: 1;
  padding-top: 20vh;
  font-size: 20px;
}

#main {
  position: absolute;
  background-color: white;
  width: 100%;
  padding-top: 60vh;
}
#main #content .group {
  height: 900px;
  padding-top: 100px;
}
#main #content .group .subgroup {
  padding: 0 60px 0 160px;
  height: 400px;
  min-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #content .group .subgroup img {
  width: 400px;
}
#main #content .group .subgroup .proj-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: 75px 0;
}
#main #content .group .subgroup .proj-text h2 {
  font-weight: bold;
}
#main #content .group .subgroup .proj-text .description {
  font-size: 1.5em;
  flex-grow: 1;
  text-align: right;
}
#main #content .group .subgroup .proj-text .tags span {
  margin: 0 0.6em;
}
#main #content .group .subgroup .proj-text .tags .proj-type {
  font-weight: bold;
}
#main #content .group .subgroup .proj-text .tags .design-type {
  color: palevioletred;
}
#main #content .group .subgroup .proj-text .tags .tech-type {
  color: steelblue;
}
#main #content .group .subgroup .proj-text-left {
  align-items: flex-start;
}
#main #content .group .subgroup .proj-text-left .description {
  text-align: left;
}
#main #content .group .bg-grey {
  background: #f6f6f6;
}

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* all links */
  /* nested links */
  /* active & hover links */
  /* all active links */
  /* nested active links */
  /* hide inactive nested list */
  /* show active nested list */
}
.bs-docs-sidebar #sidebar.affix {
  top: 20px;
}
.bs-docs-sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 0.1em 0.2em;
  font-size: 1.6em;
  font-weight: 400;
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-left: 2em;
  font-size: 1em;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: black;
  text-decoration: none;
  background-color: transparent;
  border-left-color: black;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 700;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
.bs-docs-sidebar .nav > .active > ul.nav {
  display: block;
}

/*# sourceMappingURL=index.css.map */
