$font-stack: Source Sans Pro;
$greeting-size: 6vw;
$intro-size: 3vw;

$greeting-top: 16vw;
$intro-top: 6vw;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  //position: absolute;
  display: grid;
  font-family: $font-stack;
}

#welcome {
  position: absolute;
  background-image: url("../../images/skys/10pm.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  #greeting{
    font-size: $greeting-size;
    font-weight: bold;
    margin-top: $greeting-top;
  }
  #intro{
    i{
      font-size: 50%;
    }
    span{
      margin: 0 2vw;
    }
    font-size: $intro-size;
    margin: $intro-top 0;
  }
  h5{
    font-size: 1.5vw;
    font-weight: lighter;
  }
}

#main {
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: url(#clip_q);
}